arrow==0.8.0
boto3==1.4.1
botocore==1.4.71
click==6.6
compass-stylesheets==0.12.6
Django==1.10.3
django-actions==0.0.5
django-admin-sortable==2.0.21
django-admin-tools==0.8.0
django-bootstrap==0.2.4
django-bootstrap-pagination==1.6.2
django-bootstrap-toolkit==2.15.0
django-bootstrap3==7.1.0
django-braces==1.10.0
django-classy-tags==0.8.0
django-clear-cache==0.3
django-crontab==0.7.1
django-encrypted-fields==1.1.2
django-extensions==1.7.4
django-filter==0.15.3
django-grappelli==2.9.1
django-hippo==0.2.0
django-mediagenerator==1.12
django-oauth-toolkit==0.10.0
django-oauth2-provider==0.2.6.1
django-push==0.9
django-redis==4.6.0
django-redis-cache==1.7.1
django-registration==2.1.2
-e git+git@github.com:tucarga/django-registration-rest-framework.git@485be6bd9c366c79d9974a4cdeb6d4931d6c6183#egg=django_registration_rest_framework
django-rest-auth==0.8.2
django-rest-framework-social-oauth2==1.0.4
django-rq==0.9.3
django-rq-dashboard==0.3.0
django-rq-email-backend==0.1.3
django-rq-jobs==0.1.5.1
django-rules-light==0.2.0
django-storages==1.5.1
django-taggit==0.21.3
django-taggit-serializer==0.1.5
django-user-agents==0.3.0
djangorestframework==3.5.3
djangorestframework-bulk==0.2.1
djangorestframework-csv==2.0.0
djangorestframework-digestauth==1.1.0
djangorestframework-extensions==0.0.3
djangorestframework-filters==0.9.0
djangorestframework-jsonp==1.0.2
djangorestframework-jwt==1.8.0
djangorestframework-oauth==1.1.0
docutils==0.12
drf-cached-instances==0.3.4
drf-extensions==0.3.1
ecdsa==0.13
enum34==1.1.6
Fabric==1.12.0
funcsigs==1.0.2
funcy==1.7.1
futures==3.0.5
importlib==1.0.4
jmespath==0.9.0
Keras==1.1.1
Markdown==2.6.7
mock==2.0.0
mpmath==0.19
numpy==1.11.2
oauthlib==1.0.3
pandas==0.19.1
paramiko==1.17.2
pathlib==1.0.1
pbr==1.10.0
protobuf==3.0.0
psycopg2==2.6.1
pyasn1==0.1.9
pycrypto==2.6.1
pycurl==7.43.0
Pygments==2.1.3
PyJWT==1.4.2
pyres==1.5
pyScss==1.3.5
python-apt==1.1.0b1
python-dateutil==2.6.0
python-keyczar==0.716
python-openid==2.2.5
python-social-auth==0.2.21
pytz==2016.7
PyYAML==3.12
redis==2.10.5
requests==2.11.1
requests-oauthlib==0.7.0
rest-pandas==0.5.0
restless==2.0.1
rq==0.6.0
s3transfer==0.1.9
scikit-learn==0.18
scipy==0.18.1
setproctitle==1.1.10
shortuuid==0.4.3
simplejson==3.10.0
six==1.10.0
sympy==1.0
tensorflow==0.11.0rc2
Theano==0.8.2
ua-parser==0.7.2
unicodecsv==0.14.1
user-agents==1.0.1
uWSGI==2.0.14
wq.app==0.8.2
wq.core==0.8.1
