#canvas, #canvas:active, #canvas:focus {
	cursor: crosshair;
}

#strokeColorPicker, #fillColorPicker {
	height: 60px;
	width: 88px;
	display: inline-block;
	margin-right: 5px;
}

nav {
	height: 90px;
	padding: 5px;
}

