{% extends "base_paper.html" %}
{% block content %}
<h4>Game Content</h4>

    <canvas id="canvas" resize stats></canvas>
    <div id="footer" class="footer"><a href=#">Paperoids</a>.  To Play: <b>&#8592;</b> and <b>&#8594;</b> to rotate.  <b>&#8593;</b> for thrust.  <b>Z</b> to fire. <b>F</b> to show FPS. Follow @<a href="http://twitter.com/#/hirmes">hirmes</a> for updates. Made with the amazing <a href="http://paperjs.org">Paper.js</a></div>
    <div id="gameover" class="gameover">Game Over.  <a href="Paperoids.html">Play again</a>?</div>
{% endblock %}

